# Ignoriraj node_modules - svi paketi se instaliraju preko npm install
node_modules/

# Ignoriraj build folder
dist/

# Ignoriraj lokalne konfiguracije
.env
.vscode/
.idea/

# Log fajlovi
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS fajlovi (Windows, macOS)
.DS_Store
Thumbs.db
